@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&family=Satisfy&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Satisfy", cursive;
}

body {
  background-color: #cdb4db;
  overflow: hidden;
}

.container {
  max-width: 40%;
  min-height: 40vh;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  
}

.card {
  border-radius: 9px;
  min-height: 500px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.text {
  width: 60%;
  position: relative;
}
.text h1 {
  font-size: 4rem;
  padding-bottom: 2rem;
}

.text p {
  flex-wrap: wrap;
  display: block;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: rgba(80, 80, 80, 0.904);
}

.text .muted {
  color: gray;
}

.img {
  position: absolute;
  top: 0;
  right: -70px;
  z-index: -1; 
}

.img_two {
  position: absolute;
  bottom: -10%;
  left: -29%;
  z-index: -1; /* Set z-index to -1 to move the image behind the text */
  transform: rotate(360deg);
}

@media only screen and (max-width: 1024px) {
  .text {
    width: 80%;
  }

  .img {
    display: none;
  }

  .img_two {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .text {
    width: 90%;
  }
}

@media only screen and (max-width: 425px) {
  .text {
    width: 100%;
  }
  
.card {
  padding-top: 20rem;
  
}
.text h1 {
  padding-bottom: unset;
}
}
